<% provide(:title, "Inbox") %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if @user.emails.any? %>
      <h3>Inbox (<%= @user.emails.count %>)</h3>
      <ol class="emails">
        <%= render @emails %>
      </ol>
      <%= will_paginate @emails %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>